{{ define "main"}}
  <main id="main">

    <div class="container">
  
      <!-- {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }} -->
      
        {{ range .Site.Sections }}
            {{ range .Sections.ByWeight }}
                {{ $stype := .Type}}
                {{ if (or (and (eq $stype "download") (.Site.Params.showDownloads))
                          (and (eq $stype "buttons") (.Site.Params.showButtons))
                          (eq $stype "single")) }}

                     <div class="row section featured topspace">
                       <h2 class="section-title">
                         <span>{{.Title}}</span>
                       </h2>
                     {{if eq $stype "download" }}
                       {{ partial "home/download.html" . }}
                       
                     {{ else if eq $stype "buttons"  }}
                       {{ partial "home/buttons.html" . }}
                     
                     {{ end }}
                </div>	<!-- /section -->
                {{ end }}
            {{ end }}
        {{ end }}
    </div>	<!-- /container -->
  </main>
{{ end }}
