<header>
    <div class="logo h-card">
        <a class="u-url" href="{{ .Site.Home.RelPermalink }}">
            <img alt="Site Logo" class="site-logo u-photo" src="{{ $.Site.Params.logo | default "/images/logo.png" }}"/>
        </a>
    </div>

    <!-- <div> 
        <h2>
            ЮМШ
        </h2>
    </div> -->

    <nav class="menu">
        <ul>
            {{- range site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">
                        <h3>
                            {{ .Name }}
                        </h3>
                    </a>
                </li>
            {{- end }}
        </ul>
    </nav>
</header>
